/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .well {
   h2 {
     margin-top: 0;
     color: black;
   }
 }
 .progress {
  background-image: linear-gradient(to bottom, #bbb 0%, #ccc 100%)
}
 $navbar-default-bg: white;
 $navbar-default-link-color: black;
 $text-color: black;
 $well-bg: lightgrey;
 $body-bg: white;
 $link-color: black;
 $input-bg: black;
 $input-color: white;
 $btn-default-bg: black;
 $btn-default-color: white;
 @import 'bootstrap';
 @import 'bootstrap/theme';
